html {
    scroll-behavior: smooth;
  }
  
  body {
    margin: 0;
    font-family: Arial, sans-serif;
  }
  
  
  /* Estilos de la cabecera */
  
  header {
    background-color: antiquewhite;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
  }
  
  h1 {
    font-weight: bold;
    font-size: 30px;
    margin: 0;
    color: black;
  }
  
  
  /* Menú de navegación */
  
  .navHeader {
    display: flex;
  }
  
  .ulHeader {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
  }
  
  .liHeader {
    margin: 0 20px;
    position: relative;
  }
  
  .textoHeader {
    font-weight: bold;
    color: black;
    font-size: 20px;
    text-decoration: none;
    transition: color 0.2s ease-in-out;
  }
  
  .textoHeader:hover {
    color: orange;
  }
  
  .textoHeader::before {
    content: '';
    position: absolute;
    width: 0%;
    height: 2px;
    bottom: -5px;
    left: 0;
    background-color: orange;
    transition: width 0.2s ease-in-out;
  }
  
  .textoHeader:hover::before {
    width: 100%;
  }
  
  
  /* Media Queries */
  
  @media screen and (max-width: 1070px) {
    header {
      flex-direction: column;
      align-items: flex-start;
    }
  
    .navHeader {
      margin-top: 20px;
    }
  
    .liHeader {
      margin: 0;
      display: none;
    }
  
    .textoHeader {
      font-size: 16px;
    }
    h1 {
        font-size: 24px;
        text-align: center;
      }
  }
  
  @media screen and (max-width: 480px) {
    h1 {
      font-size: 24px;
      text-align: center;
    }
  
    .textoHeader {
      font-size: 14px;
    }
    .liHeader{
        display: none;
    }
  }
  