.skillsHobbies{
    background-color:  rgb(248, 241, 231);
    padding: 40px; 
    
}
h4{
    font-family: 'Raleway', sans-serif;
    font-size: 32px;
    text-align: center;
    padding-bottom: 20px;
}
.navSkills{
    padding-bottom: 20px;

}
.navSkills ul{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    font-size: 16px;
    font-weight: bold;
    font-family: 'Raleway';
    padding: 20px;
}
.liSkills{
    box-sizing: border-box;
    background-color: white;
    padding: 4%;
    box-sizing: border-box;
    border: 2px solid #000000;
    border-radius: 10px;
    text-align: center;
    width: 15%;
}
.liSkills:hover{
    box-sizing: border-box;
    border: 2px solid green;
    border-radius: 10px;
    transition: 0.2s;
}

@media (max-width:1070px){
    .navSkills ul{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
    }
    .navSkills ul li{
        margin-bottom: 5%;
        width: 50%;
    }

}

